<h2>Password Reset</h2>
<p>If you have forgotten your password, then you can reset it by entering your email address below.</p>
<p>You will receieve an email with further directions on how to reset your password.</p>
<form name="lostPasswordForm" ng-submit="recover(Email)" novalidate>
	<div class="form-group" ng-class="{'has-error': lostPasswordForm.$invalid}">
		<label for="Email">Email</label>
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-at"></i></div>
			<input type="email" class="form-control" name="Email" ng-model="Email" ng-maxlength="64" required>
			<p ng-show="lostPasswordForm.Email.$Invalid" class="text-danger">Please enter a valid email address.</p>
		</div>
	</div>
	<button type="submit" class="btn btn-success col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4" ng-disabled="lostPasswordForm.$invalid" ng-show="!tracker.active()">
		Send Recovery Email
	</button>
	<button type="submit" class="btn btn-success col-xs-6 col-xs-offset-6 col-lg-2 col-lg-offset-5" ng-show="tracker.active()" disabled>
		<i class="fa fa-spin fa-circle-o-notch"></i>
	</button>
</form>
