<h2>Recover Password</h2>
<p>Please enter your new password.</p>
<form name="passwordForm" ng-submit="recover(passwordForm)" novalidate>
	<div class="form-group" ng-class="{'has-error': invalid.Password}">
		<label for="Password">Password</label>
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-question"></i></div>
			<input type="password" class="form-control" name="Password" ng-model="Password" ng-minlength="5" ng-change="validate(passwordForm, 'Password'); verifyPasswords()" required>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error': invalid.confirmPassword || invalid.mismatchPasswords}">
		<label for="confirmPassword">Confirm Password</label>
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-question"></i></div>
			<input type="password" class="form-control" name="confirmPassword" ng-model="confirmPassword.value" ng-change="validate(passwordForm, 'confirmPassword'); verifyPasswords()" required>
			<p ng-show="invalid.mismatchPasswords" class="text-danger">The passwords that you entered do not match.</p>
		</div>
	</div>
	<button type="submit" class="btn btn-success col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4" ng-disabled="passwordForm.$invalid" ng-show="!tracker.active()">
		Reset Password
	</button>
	<button type="submit" class="btn btn-success col-xs-6 col-xs-offset-6 col-lg-2 col-lg-offset-5" ng-show="tracker.active()" disabled>
		<i class="fa fa-spin fa-circle-o-notch"></i>
	</button>
</form>
