<form class="form-horizontal" name="trinketForm" ng-submit="save(trinketForm)" novalidate>
	<h1>Edit trinket</h1>
	<div class="form-group has-feedback col-xs-12" ng-class="{'has-error': invalid.Name}" ng-maxLength="5">
		<label for="Name" class="control-label">Name</label>
		<input type="text" class="form-control" id="Name" name="Name" ng-model="trinket.Name" ng-blur="validate('Name')" required>
		<i class="fa form-control-feedback" ng-class="{'fa-warning': invalid.Name}"></i>
	</div>

	<div class="form-inline col-xs-12">
		<div class="form-group col-xs-2">
			<label for="Underclassman">Underclassman</label>
			<input type="checkbox" name="Underclassman" ng-model="trinket.Underclassman">
		</div>
		<div class="form-group col-xs-2">
			<label for="Junior">Junior</label>
			<input type="checkbox" name="Junior" ng-model="trinket.Junior">
		</div>
		<div class="form-group col-xs-2">
			<label for="Senior">Senior</label>
			<input type="checkbox" name="Senior" ng-model="trinket.Senior">
		</div>
	</div>

	<div class="form-group has-feedback col-xs-12" ng-class="{'has-error': invalid.Price}">
		<label for="Price" class="control-label">Price</label>
		<div class="input-group">
			<div class="input-group-addon">$</div>
			<input type="text" class="form-control" name="Price" ng-model="trinket.Price" ng-pattern="REGEX_PRICE" ng-blur="validate('Price')" required>
		</div>
		<i class="fa form-control-feedback" ng-class="{'fa-warning': invalid.Price}"></i>
	</div>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	<button type="submit" class="btn btn-success" ng-disabled="trinketForm.$invalid || !classSelected()">Save</button>
</form>
