<button class="btn btn-default" ng-click="addAccessory()">Add Accessories</button>
<div class="table-responsive">
	<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Category</th>
			<th>Underclassman</th>
			<th>Junior</th>
			<th>Senior</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="accessory in accessories">
			<td>{{accessory.Name}}</td>
			<td><small>{{accessory.AccessoriesCategory.Name}}</small></td>
			<td><span class="fa" ng-class="{'fa-check': accessory.Underclassman}"></span></td>
			<td><span class="fa" ng-class="{'fa-check': accessory.Junior}"></span></td>
			<td><span class="fa" ng-class="{'fa-check': accessory.Senior}"></span></td>
			<td>{{accessory.Price | currency}}</td>
			<td>
				<button class="btn btn-warning btn-xs" ng-click="imageAccessory(accessory.Id)"><i class="fa fa-image"></i> Image</button>
				<button class="btn btn-info btn-xs" ng-click="editAccessory(accessory.Id)"><i class="fa fa-pencil"></i> Edit</button>
				<button class="btn btn-danger btn-xs" ng-click="deleteAccessory(accessory)"><i class="fa fa-bomb"></i> Delete</button></td>
		</tr>
	</tbody>
	</table>
</div>

<script type="text/ng-template" id="imageForm">
	<form class="form-horizontal" name="imageForm" ng-submit="save(imageForm)" novalidate>
		<img src="/mums/api/accessory/{{id}}/image" />
		<input type="file" name="image" onchange="angular.element(this).scope().uploadFile(this.files)" />
		<i ng-show="tracker.active()" class="fa fa-spin fa-circle-o-notch"></i>
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</form>
</script>
