<h3>Select an accent bow!</h3>
<div class="btn-group-vertical col-xs-12">
	<div ng-repeat="accentbow in accentbows | filter:{GradeId:mum.Grade.Id}">
		<label class="btn btn-block btn-default col-xs-12" ng-model="$parent.accentBowId" btn-radio="accentbow.Id">
			<div class="col-xs-12">
				<img src='/mums/api/accentbow/{{accentbow.Id}}/image' ng-show="accentbow.HasImage" class="col-xs-4 col-xs-offset-4"/>
			</div>
			<p class="col-xs-12 text-center">
				{{accentbow.Name}} <small>{{accentbow.ItemId}}</small>
			</p>
		</label>
	</div>
</div>
