<ul class="breadcrumb">
	<li>{{selectedProduct.Name}}</li>
	<li>{{selectedGrade.Name}}</li>
	<li>{{selectedSize.Name}}</li>
	<li>Backing</li>
</ul>
<h3>What type of backing would you like?</h3>
<div class="btn-group-vertical col-xs-12">
	<div ng-repeat="backing in backings | filter:{SizeId:selectedSize.Id, GradeId:selectedGrade.Id}">
		<label class="btn btn-block btn-primary" ng-model="$parent.$parent.selectedBacking" btn-radio="backing">
			{{backing.Name}}
			<span class="badge">{{backing.Price | currency}}</span>
		</label>
	</div>
</div>
<button class="btn btn-default" ng-click="back()">Back</button>
<button class="btn btn-success" ng-click="save()" ng-show="!tracker.active()">Next</button>
<button class="btn btn-success" ng-click="save()" ng-show="tracker.active()" disabled><i class="fa fa-spin fa-circle-o-notch" ng-show="tracker.active()"></i></button>
