<h2>Please review your {{mum.Product.Name}}.</h2>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3><a ui-sref="^.base.product">Base</a> <span class="label label-primary">{{mum.Backing.Price | currency}}</span></h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<th>Product</th>
				<td>{{mum.Product.Name}}</td>
				<td></td>
			</tr>
			<tr>
				<th>Grade</th>
				<td>{{mum.Grade.Name}}</td>
				<td></td>
			</tr>
			<tr>
				<th>Size</th>
				<td>{{mum.Size.Name}}</td>
				<td></td>
			</tr>
			<tr>
				<th>Backing</th>
				<td>{{mum.Backing.Name}} <small>{{mum.Backing.ItemId}}</small></td>
				<td><span class="badge">{{mum.Backing.Price | currency}}</span></td>
			</tr>
		</table>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3><a ui-sref="^.accentbow">Accent Bow</a> <span class="label label-primary">{{mum.Accent_bow.Price | currency}}</span></h3>
	</div>
	<div class="panel-body">
		<p class="lead"><strong>Accent bow: </strong> {{mum.Accent_bow.Name}} <small>{{mum.Accent_bow.ItemId}}</small></p>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Name Ribbons <span class="label label-primary">{{(letters[mum.Mum.Letter1Id].Price * mum.Mum.NameRibbon1.length || 0) + (letters[mum.Mum.Letter2Id].Price * mum.Mum.NameRibbon2.length || 0) | currency}}</span></h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<td>{{letters[mum.Mum.Letter1Id].Name}}</td>
				<td>{{mum.Mum.NameRibbon1}}</td>
				<td><span class="badge">{{letters[mum.Mum.Letter1Id].Price * mum.Mum.NameRibbon1.length | currency}}</span></td>
			</tr>
			<tr ng-show="mum.Mum.Letter2Id && mum.Mum.NameRibbon2">
				<td>{{letters[mum.Mum.Letter2Id].Name}}</td>
				<td>{{mum.Mum.NameRibbon2}}</td>
				<td><span class="badge">{{letters[mum.Mum.Letter2Id].Price * mum.Mum.NameRibbon2.length | currency}}</span></td>
			</tr>
		</table>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3><a ui-sref="^.bears">Bears</a> <span class="label label-primary">{{bearTotal | currency}}</span></h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr ng-repeat="bear in mum.Bears">
				<th>{{bear.Name}} <small>{{bear.ItemId}}</small></th>
				<td><span class="badge">{{bear.Price | currency}}</span><td>
			</tr>
		</table>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Accessories <span class="label label-primary">{{accessoryTotal | currency}}</span></h3>
	</div>
	<div class="panel-body">
		<div ng-repeat="category in categories | orderBy : 'Name'">
			<strong>{{category.Name}}</strong>
			<div class="well table-responsive" ng-init="filtered = (mum.Accessories | filter : {Accessory : {CategoryId : '' + category.Id}})">
				<table class="table" ng-show="filtered.length">
					<tr>
						<th>Accessory</th>
						<th>Unit Price</th>
						<th>Quantity</th>
						<th>Total Price</th>
					</tr>
					<tr ng-repeat="accessory in filtered">
						<th>{{accessory.Accessory.Name}} <small>{{accessory.Accessory.ItemId}}</small></th>
						<td>{{accessory.Accessory.Price | currency}}</td>
						<td>{{accessory.Quantity}}</td>
						<td><span class="badge">{{accessory.Accessory.Price * accessory.Quantity | currency}}</span></td>
					</tr>
					<p ng-show="!filtered.length">You didn't select any {{category.Name}}!</p>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Order Details</h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<th>Recipient Name</th>
				<th>{{mum.Mum.RecipientName}}</th>
			</tr>
			<tr>
				<th>Total Price</th>
				<td>{{mum.TotalPrice | currency}}</td>
			</tr>
		</table>
		<progressbar class="progress-striped active" type="success" value="mum.Status.Id" max="7">{{mum.Status.Name}}</progressbar>
	</div>
</div>
