<h2>Please review your mum.</h2>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3><a ui-sref="^.base.product">Base</a> <span class="label label-primary">{{mum.Backing.Price | currency}}</span></h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<th>Product</th>
				<td>{{mum.Product.Name}}</td>
				<td></td>
			</tr>
			<tr>
				<th>Grade</th>
				<td>{{mum.Grade.Name}}</td>
				<td></td>
			</tr>
			<tr>
				<th>Size</th>
				<td>{{mum.Size.Name}}</td>
				<td></td>
			</tr>
			<tr>
				<th>Backing</th>
				<td>{{mum.Backing.Name}}</td>
				<td><span class="badge">{{mum.Backing.Price | currency}}</span></td>
			</tr>
		</table>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3><a ui-sref="^.accentbow">Accent Bow</a> <span class="label label-primary">{{mum.Accent_bow.Price | currency}}</span></h3>
	</div>
	<div class="panel-body">
		<p class="lead"><strong>Accent bow: </strong> {{mum.Accent_bow.Name}}</p>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3><a ui-sref="^.nameribbons">Name Ribbons</a> <span class="label label-primary">{{(letters[mum.Mum.Letter1Id].Price * mum.Mum.NameRibbon1.length || 0) + (letters[mum.Mum.Letter2Id].Price * mum.Mum.NameRibbon2.length || 0) | currency}}</span></h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<td>{{letters[mum.Mum.Letter1Id].Name}}</td>
				<td>{{mum.Mum.NameRibbon1}}</td>
				<td><span class="badge">{{letters[mum.Mum.Letter1Id].Price * mum.Mum.NameRibbon1.length | currency}}</span></td>
			</tr>
			<tr ng-show="mum.Letter2Id && mum.RibbonName2">
				<td>{{letters[mum.Mum.Letter2Id].Name}}</td>
				<td>{{mum.Mum.RibbonName2}}</td>
				<td><span class="badge">{{letters[mum.Mum.Letter2Id].Price | currency}}</span></td>
			</tr>
		</table>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3><a ui-sref="^.bears">Bears</a> <span class="label label-primary">{{bearTotal | currency}}</span></h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr ng-repeat="bear in mum.Bears">
				<th>{{bear.Name}}</th>
				<td><span class="badge">{{bear.Price | currency}}</span><td>
			</tr>
		</table>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3><a ui-sref="^.trinkets">Trinkets</a> <span class="label label-primary">{{trinketTotal | currency}}</span></h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<th>Trinket</th>
				<th>Unit Price</th>
				<th>Quantity</th>
				<th>Total Price</th>
			</tr>
			<tr ng-repeat="trinket in mum.Trinkets">
				<th>{{trinket.Trinket.Name}}</th>
				<td>{{trinket.Trinket.Price | currency}}</td>
				<td>{{trinket.Quantity}}</td>
				<td><span class="badge">{{trinket.Trinket.Price * trinket.Quantity | currency}}</span></td>
			</tr>
		</table>
	</div>
</div>

<div class="jumbotron">
	<h1>Total price:
	<!--We use the double negation hack here to make converting string to float easier.-->
	{{mum.Backing.Price -- mum.Accent_bow.Price -- (letters[mum.Mum.Letter1Id].Price * mum.Mum.NameRibbon1.length || 0) + (letters[mum.Mum.Letter2Id].Price * mum.Mum.NameRibbon2.length || 0) + bearTotal + trinketTotal | currency}}</h1>
	<button class="btn btn-block btn-success" ng-click="next()">Proceed to checkout</button>
</div>