<h3>Pick your trinkets!</h3>
<p>Total for trinkets: <span class="badge">{{totalPrice || 0 | currency}}</span></p>
<div class="list-item-group">
	<div class="list-group-item" ng-repeat="trinket in trinkets | filter:predicate">
		<div class="row">
			<h4 class="col-lg-3">
				{{trinket.Name}}
				<small>({{trinket.Price | currency}} each)</small>
				<span class="badge">{{trinket.Price * quantities[trinket.Id] || 0 | currency}}</span>
				<!--<span class="badge">{{(trinket.Price * quantities[trinket.Id] || 0) | currency}}</span>-->
			</h4>
			<div class="input-group col-lg-2">
				<span class="input-group-btn"><button class="btn btn-default" ng-click="decrement(trinket)" ng-disabled="!quantities[trinket.Id]">-</button></span>
				<input type="text" class="form-control" ng-model="quantities[trinket.Id]" readonly>
				<span class="input-group-btn"><button class="btn btn-default" ng-click="increment(trinket)">+</button></span>
			</div>
		</div>
	</div>
</div>
