<button class="btn btn-default" ng-click="addGarnish()">Add Garnish</button>
<table class="table table-striped table-hover">
<thead>
	<tr>
		<th>Name</th>
		<th>Underclassman</th>
		<th>Junior</th>
		<th>Senior</th>
		<th>Price</th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="garnish in garnishes">
		<td>{{garnish.Name}}</td>
		<td><span class="fa" ng-class="{'fa-check': garnish.Underclassman}"></span></td>
		<td><span class="fa" ng-class="{'fa-check': garnish.Junior}"></span></td>
		<td><span class="fa" ng-class="{'fa-check': garnish.Senior}"></span></td>
		<td>{{garnish.Price | currency}}</td>
		<td><button class="btn btn-info btn-xs" ng-click="editGarnish(garnish.Id)"><i class="fa fa-pencil"></i> Edit</button></td>
	</tr>
</tbody>
</table>
