<table class="table table-striped table-hover">
<thead>
	<tr>
		<th>Name</th>
		<th>Underclassman</th>
		<th>Junior</th>
		<th>Senior</th>
		<th>Price</th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="garnish in garnishes">
		<td>{{garnish.Name}}</td>
		<td class="fa" ng-class="{'fa-check': garnish.Underclassman}"></td>
		<td class="fa" ng-class="{'fa-check': garnish.Junior}"></td>
		<td class="fa" ng-class="{'fa-check': garnish.Senior}"></td>
		<td>{{garnish.Price | currency}}</td>
	</tr>
</tbody>
</table>