<html>
<head>
	<title>Mum Shoppe</title>

	<link rel="stylesheet" href="public/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/css/font-awesome.min.css">

	<script type="text/javascript" src="public/libs/angular/angular.js"></script>
	<script type="text/javascript" src="public/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="public/libs/angular-cookies/angular-cookies.js"></script>
	<script type="text/javascript" src="public/libs/angular-breadcrumb/release/angular-breadcrumb.js"></script>
	<script type="text/javascript" src="public/libs/angular-promise-tracker/promise-tracker.js"></script>
	<script type="text/javascript" src="public/libs/angular-ui-router/release/angular-ui-router.js"></script>
	<script type="text/javascript" src="public/libs/angular-route/angular-route.js"></script>

	<script type="text/javascript" src="public/js/mumshoppe.app.js"></script>
	<script type="text/javascript" src="public/js/controllers/alerts.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/confirm.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/home.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/login.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/mums.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/create.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/register.controller.js"></script>
	<script type="text/javascript" src="public/js/services/accentbows.service.js"></script>
	<script type="text/javascript" src="public/js/services/alerts.service.js"></script>
	<script type="text/javascript" src="public/js/services/confirm.service.js"></script>
	<script type="text/javascript" src="public/js/services/customer.service.js"></script>
	<script type="text/javascript" src="public/js/services/letters.service.js"></script>
	<script type="text/javascript" src="public/js/services/mum.service.js"></script>
	<script type="text/javascript" src="public/js/services/mumtypes.service.js"></script>
</head>
<body ng-app="mumshoppe">
	<div ng-controller="AlertsController">
		<div ng-repeat="alert in alerts">
			<alert type="{{alert.type}}" class="alert" ng-click="closeAlert(alert)">
				{{alert.msg}}
				<small>Click to dismiss</small>
			</alert>
		</div>
	</div>
	<div ui-view class="col-xs-8 col-xs-offset-2"></div>
</body>