<html>
<head>
	<title>Mum Shoppe Volunteer</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="public/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/css/font-awesome.min.css">
	<link rel="stylesheet" href="public/libs/angular-off-canvas/off-canvas.css">

	<script type="text/javascript" src="public/libs/angular/angular.js"></script>
	<script type="text/javascript" src="public/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="public/libs/angular-breadcrumb/release/angular-breadcrumb.js"></script>
	<script type="text/javascript" src="public/libs/angular-cookies/angular-cookies.js"></script>
	<script type="text/javascript" src="public/libs/angular-off-canvas/off-canvas.js"></script>
	<script type="text/javascript" src="public/libs/angular-promise-tracker/promise-tracker.js"></script>
	<script type="text/javascript" src="public/libs/angular-ui-router/release/angular-ui-router.js"></script>
	<script type="text/javascript" src="public/libs/angular-route/angular-route.js"></script>

	<script type="text/javascript" src="public/js/volunteer.app.js"></script>
	<script type="text/javascript" src="public/js/services/accentbows.service.js"></script>
	<script type="text/javascript" src="public/js/services/alerts.service.js"></script>
	<script type="text/javascript" src="public/js/services/bears.service.js"></script>
	<script type="text/javascript" src="public/js/services/confirm.service.js"></script>
	<script type="text/javascript" src="public/js/services/letters.service.js"></script>
	<script type="text/javascript" src="public/js/services/mum.service.js"></script>
	<script type="text/javascript" src="public/js/services/mumtypes.service.js"></script>
	<script type="text/javascript" src="public/js/services/pay.service.js"></script>
	<script type="text/javascript" src="public/js/services/trinkets.service.js"></script>
	<script type="text/javascript" src="public/js/services/volunteer.service.js"></script>
	<script type="text/javascript" src="public/js/controllers/accentbows.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/alerts.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/bears.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/configure.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/confirm.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/letters.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/mums.volunteer.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/mumtypes.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/trinkets_add.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/trinkets_all.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/trinkets_edit.controller.js"></script>
	<script type="text/javascript" src="public/js/controllers/home.volunteer.controller.js"></script>

</head>
<body ng-app="volunteer">
	<div class="off-canvas__content off-canvas__container">
		<div class="navbar navbar-default" ng-controller="headerController">
			<div class="navbar-header">
				<span class="navbar-brand">Welcome to the MumShoppe!</span>
			</div>
			<div class="navbar-collapse ">
				<ul class="nav navbar-nav navbar-right" ng-show="volunteer">
					<li><a>Welcome, {{volunteer.Name}}!</a></li>
					<li><a ui-sref="mums.all">View Mums</a></li>
					<li><a ui-sref="configure.trinkets.all">Configure</a></li>
					<li><a ui-sref="home.logout">Logout</a></li>
				</ul>
			</div>
		</div>
		<div ng-controller="AlertsController">
			<div ng-repeat="alert in alerts">
				<alert type="{{alert.type}}" class="alert" ng-click="closeAlert(alert)">
					{{alert.msg}}
					<small>Click to dismiss</small>
				</alert>
			</div>
		</div>
		<div ui-view class="col-lg-8 col-lg-offset-2"></div>
	</div>
</body>
</html>
