<h2>Backing</h2>
<div class="list-group">
	<div ng-repeat="backing in items | filter:{GradeId:grade.Id, SizeId:size.Id}" class="row">
		<a class="list-group-item col-xs-10">
			<h4 class="list-group-item-heading">{{backing.Name}} <span class="badge">{{backing.Price | currency}}</span></h4>
		</a>
		<div class="col-xs-2">
			<button class="btn btn-info btn-xs" ng-click="editItem(backing, {SizeId:size.Id, GradeId:grade.Id})"><i class="fa fa-pencil"></i> Edit</button>
			<button class="btn btn-danger btn-xs" ng-click="deleteItem(backing)"><i class="fa fa-bomb"></i> Delete</button>
		</div>
	</div>
</div>
<button class="btn btn-success" ng-click="addItem({SizeId: size.Id, GradeId: grade.Id})"><i class="fa fa-plus fa-x2">Add Backing</i></button>

<script type="text/ng-template" id="itemForm">
	<form class="form-horizontal" name="backingForm" ng-submit="create(backingForm)" novalidate>
		<h2>Edit Backing</h2>
		<div class="form-group has-feedback col-xs-12" ng-class="{'has-error': invalid.Name}">
			<label for="Name" class="col-lg-1 control-label">Name</label>
			<div class="input-group col-lg-10">
				<input type="text" class="form-control col-lg-10" id="Name" name="Name" ng-model="backing.Name" ng-blur="validate(backingForm, 'Name')" ng-maxlength="32" required>
				<span class="fa form-control-feedback" ng-class="{'fa-warning': invalid.Name}"></span>
			</div>
		</div>
		<div class="form-group has-feedback col-xs-12" ng-class="{'has-error': invalid.Price}">
			<label for="Price" class="col-lg-1 control-label">Price</label>
			<div class="input-group col-lg-10">
				<div class="input-group-addon">$</div>
				<input type="text" class="form-control" id="Price" name="Price" ng-model="backing.Price" ng-blur="validate(backingForm, 'Price')" ng-pattern="REGEX_PRICE" required>
				<span class="fa form-control-feedback" ng-class="{'fa-warning': invalid.Price}"></span>
			</div>
		</div>
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		<button type="submit" ng-show="tracker.active()" class="btn btn-success" disabled><i class="fa fa-spin fa-circle-o-notch"></i></button>
		<button type="submit" ng-show="!tracker.active()" class="btn btn-success" ng-disabled="gradeForm.$invalid">Save</button>
	</form>
</script>
