<button class="btn btn-default" ng-click="toggle()"><i class="fa fa-search"></i></button>
<div class="table-responsive">
	<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Status</th>
			<th>Customer</th>
			<th>Grade</th>
			<th>Date Ordered</th>
			<th>Paid</th>
			<th>Product</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="mum in mums">
			<td>{{mum.Status.Name}}</td>
			<td>{{mum.Customer.Name}}</td>
			<td>{{mum.Grade.Name}}</td>
			<td>{{mum.Mum.OrderDate | dateToISO | date : 'MMM d, yyyy h:mm a'}}</td>
			<td><i class="fa fa-check" ng-show="mum.Mum.Paid"></i></td>
			<td>{{mum.Product.Name}}</td>
			<td>
				<button class="btn btn-info btn-xs" ui-sref="^.view({mumId: mum.Mum.Id})"><i class="fa fa-eye"></i> View</button>
			</td>
		</tr>
	</tbody>
	</table>
</div>
